data_dir = "/var/lib/kapacitor"

[storage]
  boltdb = "/var/lib/kapacitor/kapacitor.db"

[logging]
  # Destination for logs
  # Can be a path to a file or 'STDOUT', 'STDERR'.
  file = "STDOUT"
  # Logging level can be one of:
  # DEBUG, INFO, WARN, ERROR, or OFF
  level = "WARN"

[http]
  bind-address = ":9092"
  auth-enabled = false
  log-enabled = false
  write-tracing = false
  pprof-enabled = false
  https-enabled = false

[[influxdb]]
  enabled = true
  default = true
  name = ""
  urls = ["http://{{ .Env.INFLUXDB_HOST }}:8086"]
  username = "{{ .Env.INFLUXDB_USER }}"
  password = "{{ .Env.INFLUXDB_PASSWORD }}"
  timeout = 0

  startup-timeout = "5m"
  disable-subscriptions = false
  subscription-protocol = "http"

[influxdb.subscriptions]
  {{ .Env.INFLUXDB_SUBSCRIPTION_DB }} = ["{{ .Env.INFLUXDB_SUBSCRIPTION_DB_RP }}"]

[alerta]
  enabled = {{ .Env.ALERTA_ENABLED }}
  url = "{{ .Env.ALERTA_API_URL }}"
  token = "{{ .Env.ALERTA_TOKEN }}"
  origin = "kapacitor"
